/* Checkbox */
.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 2.5em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
  }
  
  .theme-checkbox::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 0.48em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }
  
  .theme-checkbox:checked {
    background-position: 100%;
  }
/* Checkbox */

/* header */
header{
margin-top: -2rem;
position: relative;

}

.header_img{
  width: 100%;
  position: absolute;
  z-index: -1;
}

.header_img img{
  width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 165px 136px 165px;
}

.header .logo{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}

.header .mode{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .mode .light svg, .header .mode .dark svg{
    height: 2.2rem;
    width: 2.2rem;
}

